<div
  style="
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
  "
>
  <h1>Planet info</h1>
  <div
    style="
      display: flex;
      width: 15rem;
      background-color: rgb(52, 194, 128);
      border: solid black;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <h3
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.2rem;
      "
    >
      {{ planetinf.name }}
    </h3>
    <div>
      <p>climate: {{ planetinf.climate }}</p>
      <p>diameter: {{ planetinf.diameter }}</p>

      <p>gravity: {{ planetinf.gravity }}</p>
      <p>orbital_period: {{ planetinf.orbital_period }}</p>
      <p>population: {{ planetinf.population }}</p>
      <p>rotation_period: {{ planetinf.rotation_period }}</p>
      <p>surface_water: {{ planetinf.surface_water }}</p>
      <p>terrain: {{ planetinf.terrain }}</p>
      <p>created: {{ planetinf.created }}</p>
      <p>edited: {{ planetinf.edited }}</p>
      <p>url: {{ planetinf.url }}</p>
    </div>
  </div>
  <div *ngIf="residents.length != 0">
    <h1>Characters on the planet</h1>
    <label>Choose a gender:</label>
    <select [(ngModel)]="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="n/a">No gender</option>
      <option value="" selected>Every</option>
    </select>
  </div>

  <!-- <input type="text" [(ngModel)]="gender" /> -->
  <div *ngIf="gender === ''">
    <div
      *ngFor="let person of residents"
      style="
        display: flex;
        width: 20rem;
        flex-direction: column;
        margin: 0.2rem;
        border: solid black;
        background-color: rgb(135, 198, 228);
      "
    >
      <h3
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0.2rem;
        "
      >
        {{ person.name }}
      </h3>
      <div>
        <p>Name: {{ person.name }}</p>
        <p>Birth year: {{ person.birth_year }}</p>
        <p>Eye color: {{ person.eye_color }}</p>
        <p>Gender: {{ person.gender }}</p>
        <p>Hair color: {{ person.hair_color }}</p>
        <p>Mass: {{ person.mass }}</p>
        <p>Skin color: {{ person.skin_color }}</p>
        <p>Species: {{ person.species }}</p>
        <p>Created: {{ person.created }}</p>
        <p>Edited: {{ person.edited }}</p>
      </div>
    </div>
  </div>
  <div
    *ngFor="let person of residents | filterPerson: gender"
    style="
      display: flex;
      width: 20rem;
      flex-direction: column;
      margin: 0.2rem;
      border: solid black;
      background-color: rgb(135, 198, 228);
    "
  >
    <h3
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.2rem;
      "
    >
      {{ person.name }}
    </h3>
    <div>
      <p>Name: {{ person.name }}</p>
      <p>Birth year: {{ person.birth_year }}</p>
      <p>Eye color: {{ person.eye_color }}</p>
      <p>Gender: {{ person.gender }}</p>
      <p>Hair color: {{ person.hair_color }}</p>
      <p>Mass: {{ person.mass }}</p>
      <p>Skin color: {{ person.skin_color }}</p>
      <p>Species: {{ person.species }}</p>
      <p>Created: {{ person.created }}</p>
      <p>Edited: {{ person.edited }}</p>
    </div>
  </div>
</div>
